* html body {
 margin: 0;
 padding:0;
}

:root {
    --main: rgb(108, 163, 197);
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --secondary: rgb(49, 65, 72);
    --hover: rgb(132, 152, 206);
}

.container {
    position: relative;
    text-align: center;
}

.bryan-img {
    width: 10%;
    position: relative;
    top: 375px;
}

header {
    font-family:var(--font) ;
    padding: .25%;
    background-color:var(--secondary);
    border-bottom:var(--main) 290px solid ;
}

header h1{
    display: inline;
    font-size: 250%;
    background-color: rgba(104, 226, 226, 0.675);
}

nav {
    padding: 40px;
}
.navbar {
    color:var(--main);
    margin-left: 200px;
    font-size: 220%;
    margin: .8%;
    flex-direction: row;
}

aside {
    display: flex;
    flex: wrap;
    flex-direction: column;
    margin-bottom: 20%;
    color:var(--main);
    font-size: 200%;
    padding: 100px 200px 0px 200px;
}

main {
   display: flex; 
   flex: wrap;
   background-color: rgb(110, 110, 109);
}

#about-paragraph {
    font-size: 175%;
    font-family:var(--font);
    color:var(--main);
    margin-bottom: 14%;
    padding: 100px 200px;
}

#works-spacer {
    margin-bottom: 0px;
}

.imgs-box { 
    opacity: 0.5;
}


.imgs-box:hover {
    opacity: 1;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    float: left;
}

.right {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    }

 .eclipse {
    max-width: 100%;
    max-height:40%;
}

.flower {
    max-width: 100%;
    max-height: 10%;
}

.mountain {
    max-width: 100%;
    max-height: 10%;
}

.magnifier {
    max-width: 100%;
    max-height: 10%;
}

.cat {
    max-width: 100%;
    max-height: 10%;
}

  .eclipse-h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: brown;
    font-size: 300%;
    transform: translate(-50%, -50%);
} 

.altitude-h3 {
    font-size: 300%;
    position: absolute;
    color: blueviolet;
}

.flower-h3 {
    font-size: 300%;
    color: yellow;
    position:absolute;
    margin-top: 35%;
}

.cat-h3 {
    font-size: 300%;
    color: rgb(255, 174, 24);
    position: absolute;
}

.magnified-treesh3 {
    font-size: 300%;
    color:darkturquoise;
    position: absolute;
    margin-top: 35%;
}

h3:hover {
    background-color: rgba(240, 248, 255, 0);
    box-shadow: 0px 0px 8px var(--hover), 0px 0px 15px var(--hover);
}

#contact {
    font-size: 300%;
}

footer {
    background-color: var(--main);
    border-top: solid 1px black;
}

footer h2 {
    color: var(--secondary);
    font-size: 200%;
    text-align: center;
    margin-top: 30px
}

.bottom-nav {
    text-align: center;
    font-size: 200%;
}

@media  and (min-width: 768px) {
  aside {
    display: inline;
    flex direction: row;
    margin-bottom: 2%;
    font-size: .2%;
    padding: 5px 5px 0px 5px;
    max-width:50%;
  }
  #about-paragraph {
    font-size: 25%;
    margin-bottom: 4%;
    padding: 10px 20px;
    max-width: 50%;
  }
  .left .right {
    display: inline;
    flex-direction: column-reverse;
    max-width: 25%;
    align-items: center;
    
  }
  header {
    max-width: 50%;
  }}
